:root {
    --font-family: "PressStart2P-Regular",monospace;
    --font-weight-bolshe:700;
    --main-color-bigRussian: #000;
    --pipec-kakoy-skychniy-shrift: "Inter-Variable",monospace;
    --font-weight-normalno:400;

}
